<h2>Figure: <%=@figure.name%></h2>

<% if @figure.landmarks.length == 0 %>
"Landmarks - Not working!"
<% end %>

<h2>Figure Landmarks's:</h2>
<% @figure.landmarks.each do |landmark|%>
  <%= landmark.name%>
<% end %>
