<h1>Figure: <%= @figure.name %></h1>

<% if @figure.titles.length == 0 %>
"Titles - Not working!!!"
<% end %>

<% if @figure.landmarks.length == 0 %>
"Landmarks - Not working!!!"
<% end %>

<h3> Landmarks:</h3>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>

<h3> Titles:</h3>
<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>
