<h1>Figure: <%= @figure.name %></h1>

<h3> Landmarks:</h3>
<% @figures.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>

<h3> Titles:</h3>
<% @figures.titles.each do |title| %>
  <%= title.name %>
<% end %>
