<h1>Figure: <%= @figure.name %></h1>

<% if @figure.titles.length == 0 %>
"Titles - Not working!"
<% end %>

<% if @figure.landmarks.length == 0 %>
"Landmarks - Not working!"
<% end %>

<h2> Landmarks:</h2>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>

<h2> Titles:</h2>
<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>
